form{

    input{
        padding: $spacing-small;
    }
    
    legend{
    
    }
    
    textarea{
    
    }

    .dark-mode{
        background-color: $dark-color;
        color: $light-color;
    }
}