//primary font
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
//secondary font
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


// colour variables
$primary-color: #2b3333;
$secondary-color: #0b73b8;
$danger-color: #ff4d4d;
$warning-color: #e47f0c;
$light-color: #fefefe;
$dark-color: #000;

// typography variables
$font-family-base: "Roboto", sans-serif;
$font-family-secondary: "Inter", sans-serif;
$font-size-base: 18px;
$font-size-small: 16px;
$font-size-large: 22px;
$font-weight-normal: 400;
$font-weight-bold: 700;
$h1-font-size: 25px;
$h2-font-size: 22px;

// spacing variables
$spacing-small: 10px;
$spacing-medium: 18px;
$spacing-large: 26px;

// border variables
$border-radius: 5px;
$border-width: 2px;
$border-color: #dcdcdc;

// button variables
$button-padding-vertical: 10px;
$button-padding-horizontal: 20px;
$button-border-radius: 5px;

// shadow variables
$box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

// @media - screen sizes
$tablet-screen-size: 980px;
$laptop-screen-size:1200px;
$desktop-screen-size: 1600px;

//columns
$max-column-number: 12;

//rows maybe used
//$max-row-number: 12;
//$gap: 15px;
//$gap-sm: 10px;
//$gap-md: 25px;
//$gap-lg: 50px;


// Mixins that maybe used
//@mixin row($gap: $gap) {
//    display: flex;
//    flex-wrap: wrap;
//    margin-left: -$gap;
//    margin-right: -$gap;
//  
//    & > * {
//      padding-left: $gap;
//      padding-right: $gap;
//      flex: 1 0 0%;
//      min-width: 0;
//    }
//  }
//  
//  @mixin column($columns: 1, $offset: 0) {
//    flex: 0 0 (100% / $max-column-number) * $columns;
//    max-width: (100% / $max-column-number) * $columns;
//    margin-left: ($offset * (100% / $max-column-number));
//  }

// Responsive Grid another maybe example of use
//@media (min-width: 768px) {
//    .row {
//      @include row($gap-sm);
//    }
//  }
//  
//  @media (min-width: 992px) {
//    .row {
//      @include row($gap-md);
//    }
//  }
//  
//  @media (min-width: 1200px) {
//    .row {
//      @include row($gap-lg);
//    }
//  }